In [2]:
import kagglehub
import os
import pandas as pd
import numpy as np

path=kagglehub.dataset_download("yasserh/titanic-dataset")
print("Path to Data set files:",path)
print(os.listdir(path))
file=os.path.join(path,'Titanic-Dataset.csv')

data=pd.read_csv(file)
print(data.head())

Path to Data set files: /kaggle/input/titanic-dataset
['Titanic-Dataset.csv']
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [5]:
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:

data['Sex'] =data['Sex'].astype(str).str.strip().str.lower()
data['Sex']=data['Sex'].map({'male':0,'female':1})
print(data['Sex'].head())

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [10]:
data['Embarked']=data['Embarked'].fillna(data['Embarked'].mode()[0])
print(data['Embarked'].unique())

['S' 'C' 'Q']

In [12]:
data['Age'].fillna(data['Age'].mean(),inplace=True)
print(data['Age'].head())

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

/tmp/ipython-input-12-3512121585.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mean(),inplace=True)

In [13]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [16]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [15]:
data['Cabin']=data['Cabin'].fillna('unknown')
print(data['Cabin'].unique()[:5])

['uknown' 'C85' 'C123' 'E46' 'G6']

In [17]:
data = pd.get_dummies(data, columns = ['Embarked'], prefix='Embarked')
data[['Embarked_C', 'Embarked_Q', 'Embarked_S']] = data[['Embarked_C', 'Embarked_Q', 'Embarked_S']].astype(int)

print("Embarked_C:", data['Embarked_C'].unique())
print("Embarked_Q:", data['Embarked_Q'].unique())
print("Embarked_S:", data['Embarked_S'].unique())

Embarked_C: [0 1]
Embarked_Q: [0 1]
Embarked_S: [1 0]

In [18]:
ticket_count = data['Ticket'].value_counts()
print(ticket_count)
data['TicketGroupSize'] = data['Ticket'].map(ticket_count)
print(data[['Ticket', 'TicketGroupSize']].head(10))
def group_type(size):
  if size == 1:
    return 'solo'
  elif size == 2:
    return 'couple'
  else:
    return 'family'

data['GroupType'] = data['TicketGroupSize'].apply(group_type)
print(data[['Ticket', 'TicketGroupSize', 'GroupType']].head())

Ticket
347082              7
1601                7
CA. 2343            7
3101295             6
CA 2144             6
                   ..
PC 17590            1
17463               1
330877              1
373450              1
STON/O2. 3101282    1
Name: count, Length: 681, dtype: int64
             Ticket  TicketGroupSize
0         A/5 21171                1
1          PC 17599                1
2  STON/O2. 3101282                1
3            113803                2
4            373450                1
5            330877                1
6             17463                1
7            349909                4
8            347742                3
9            237736                2
             Ticket  TicketGroupSize GroupType
0         A/5 21171                1      solo
1          PC 17599                1      solo
2  STON/O2. 3101282                1      solo
3            113803                2    couple
4            373450                1      solo